<!DOCTYPE html>
<html>

<head>
  <title>Nodepop | Inicio</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
</head>

<body>
  <h1>Nodepop</h1>
  <p>Mejor vamos a ver los <a href="/products">productos </a></p>
</body>

</html>